body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h4,p{
    margin: 0;
    padding: 0;
}

.student-container{
    width: 100%;
    border: 5px solid blanchedalmond;
    padding: 8px;
}